@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}
 /* Header Start  */header {
    /* height: 74vh; */    background-color: #1a1a1a;
    text-align: center;
    padding-bottom: 50px;
}
.box-1 {
    width: 60%;
    margin: auto;
    position: relative;
    padding: 20px 0;
}
.box {
    position: absolute;
}
.b-1 {
    left: 0;
}
.b-2 {
    right: 0;
}
.box-2 {
    margin-top: 280px;
    text-align: center;
}
.p-1,
.p-2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}
.p-1 {
    font-size: 1.25em;
    letter-spacing: 16px;
    text-transform: uppercase;
}
.p-2 {
    margin-top: 38px;
    letter-spacing: 8px;
}
.box-2>a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffe500;
    color: #1b1b1b;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 4px;
    display: inline-block;
    padding: 20px 35px;
    margin-top: 50px;
    margin-bottom: 250px;
}
/* Header End *//* Main Start */main{
    padding-top: 160px;
    padding-bottom: 230px;
    text-align: center;
}
main > p{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    color: #707070;
    margin: auto;
    margin-top: 90px;
    width: 30%;
    line-height: 35px;
}
/* Main End *//* Section 1 Start */.s-1{
    padding-top: 85px;
    padding-bottom: 40px;
    background-color: #f4f4f4;
    text-align: center;
}
.s-1 > .title{
    font-size: 1.2em;
    letter-spacing: 16px;
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 36px;
}
.s-1 > .caption{
    color: #828282;
    font-size: 0.9em;
    line-height: 30px;
    width: 40%;
    margin: auto;
    margin-top: 40px;
}
.cards{
    width: 65%;
    margin: auto;
    margin-top: 85px;
}
.card{
    width: 20%;
    display: inline-block;
    margin: 0 12px;

}
.c-1{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-top: 50px;
    box-shadow: 0 0 10px gray;
}
.c-1 :nth-child(2){
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    line-height: 25px;
    margin-top: 35px;
    letter-spacing: 7px;
}
.c-1 :nth-child(3){
    color: #828282;
    font-size: 0.9em;
    line-height: 20px;
    margin-top: 45px;
}



.c-2{
    padding: 12px;
    box-shadow: 0 0 10px gray;
margin-top: 28px;

}


.c-1 ,.c-2{
    background-color: white;
}


.c-2 > p{
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
    text-align: left;
    margin-top: 5px;
}

.progress{
    height: 5px;
    background-color: #f4f4f4;
    text-align: left;
    margin-top: 10px;
}



.sub{
    width: 80%;
    height: 5px;
    background-color: #ffe500;
}


.s-2{
    background-color: #1a1a1a;
    padding: 85px 0;

}


.section-container{
    width: 65%;
    margin: auto;
    text-align: center;
}

.subsection{
    padding: 12px;
    box-sizing: border-box;
    background-color: white;
    width: 20%;
    margin: 0 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1b1b1b;
    display: inline-block;
}